body {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  background-color: #fff;
}
.content {
  width: 95%;
  padding: 25px 50px;
  margin: 25px auto;
  background-color: white;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
  font-family: "Google Sans";
}
a, a:visited {
  color: #224b8d;
}
.link-invalid {
  text-decoration: none;
}
#authors {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
#authors a {
  margin: 0 10px;
}
h1 {
  text-align: center;
  font-size: 50px !important;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
code {
  display: block;
  padding: 10px;
  margin: 10px 10px;
}
p {
  line-height: 25px;
  text-align: justify;
}

.container {
  /*display: flex;*/
  align-items: center;
  justify-content: center
}


.teaser-carousel {
  overflow: hidden;
}

.teaser-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.teaser-carousel video {
  margin: 0;
}

/* Constrain the carousel height and center images */
.carousel-item img {
  max-height: 85vh;
  width: auto !important;
  margin: 0 auto;
  object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  background-size: 60% 60%; /* Shrink the arrow slightly within the box */
  border-radius: 50%; /* Make it a circle */
  width: 3rem;
  height: 3rem;
}